@charset "UTF-8";


body {
    background-image: url("../assets/images/josephine-bredehoft-KsAo8ouBn8A-unsplash-embaçada.jpg");
}

.flamula {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 380px;
    width: 60%;
    min-width: 260px;
    min-height: 500px;

    padding-top: 30px;
    margin: auto;

    background-image: linear-gradient(to bottom, var(--dark-bg), #AA1417);

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);  
    border-left: 1px solid var(--dark-border);
    border-right: 1px solid var(--dark-border);
} 

.flamula-image > img {
    height: 250px;
    border-radius: 300px;
    border: 1px solid black;
    box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.flamula h1, .flamula h2 {
    font-size: 3em;
    text-align: center;
    font-family: var(--font-1);
    color: White;
    font-weight: 200;
    text-shadow: 0 0 3px white;
    letter-spacing: 0.15em;
} .flamula h2 {
    text-shadow: 0 0 2px white;
    padding-bottom: 15px;
    font-size: 1.5em;
}

#informacoes {
    flex-direction: column;
}

#atributos {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
} #atributos strong{
    padding: 10px;
}

.biography p, .spells p, .biography h2{
    text-indent: 5%;
} .biography p {
    margin-bottom: 10px;
    text-align: justify;
}

.talents > .section-content p {
    margin-top: 3%;
    text-align: justify;
} .talents ul {
    list-style: none;
    text-indent: 3%;
    text-align: justify;
} .talents span {
    font-weight: bold;
}

.inventory ul, .spells ul {
    list-style: none;
    text-indent: 5%;
}

.row-spacer {
    display:flex;
    gap: 15px;
}

/* --------- <-!-> Menu de Naveção da Página de Personagem <-!-> ---------*/

.menu-page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.menu-page > img{
    margin: auto;
    width: 60%;
    max-width: 400px;
}

.menu-page > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-page > ul, .menu-page > span {
    width: 47%;
    max-width: 300px;
    padding: 10px;
    margin: auto;

    font-family: var(--font-1);
    font-size: 1.3em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    background-color: #F5E096;
}

.menu-page > span {
    letter-spacing: 0.4em;
    border-bottom: 1px solid #695b2d3d;
    color: #30280e;
    padding: 5px;
    text-align: center;
}

.menu-page li {
    list-style: none;
    border-bottom: 1px solid #695b2d3d;
    width: 105%;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.menu-page li:hover {
    color: rgb(161, 0, 0);
    text-shadow: 0 0 2px rgb(161, 0, 0);
    cursor: pointer;
}




/* --------- <-!-> Página de Personagens <-!-> ---------*/

.character-card {
    min-height: 0; min-width: 0;
    width: 180px; height: 340px;
    padding: 0; margin-left: 0;
    font-family: var(--font-2);
} 

.character-card-image img {
    padding-top: 1px;
    width: 180px;
    height: 240px;
} 

.character-card-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--dark-border);
    border: 1px solid var(--dark-border-reflex);
    padding: 5px;
}

.character-card-row img {
    width: 22px;
    height: 25px;
}

.character-card-row p, .character-bodybox p {
    border-right: 1px solid var(--dark-border-reflex);
    padding-right: 10px;
    color: rgb(189, 143, 27);
}

.character-card-row span, .character-bodybox span {
    text-align: center;
    color: rgb(189, 143, 27);
}