@charset "UTF-8";

body {
    background-image: url("../assets/images/josephine-bredehoft-KsAo8ouBn8A-unsplash-embaçada.jpg");
}

main p {
    text-indent: 3%;
    text-align: justify;
}

button.nav-page {
    background-color: transparent;
    border: none;
} button.nav-page > image {
    width: 10px;
}

.disable {
    color: brown;
}

.arco {
    padding: 20px;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} .nav-page {
    font-family: var(--font-2);
    font-size: 1em;
}.nav-page:hover {
    cursor: pointer;

}

.main-title {
    padding: 10px;
}
.main-title h1{
    font-size: 3em;
    font-family: var(--font-3);
} .main-title h2 {
    font-size: 1em;
    font-family: var(--font-2);
    text-indent: 2%;;
}

.cronica {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px 0;

    gap: 10px;
    cursor: pointer;
} .logo-cronica img {
    height: 60px;
} .content-cronica {
    padding: 20px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--dark-border);
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(92, 0, 0, 0.15), transparent);
    font-family: var(--font-3);
} .content-cronica p {
    font-family: var(--font-2);
}