@charset "UTF-8";

body {
    background-image: url("../assets/images/josephine-bredehoft-KsAo8ouBn8A-unsplash-embaçada.jpg");
}

main p {
    text-indent: 3%;
    text-align: justify;
}

button.nav-page {
    background-color: transparent;
    border: none;
} button.nav-page > image {
    width: 10px;
}

.disable {
    color: brown;
}

.arco {
    padding: 20px;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} .nav-page {
    font-family: var(--font-2);
    font-size: 1em;
}.nav-page:hover {
    cursor: pointer;

}

.main-title {
    padding: 20px;
}
.main-title h1{
    font-size: 4em;
    font-family: var(--font-3);
} .main-title h2 {
    font-size: 2em;
    font-family: var(--font-2);
    text-indent: 2%;;
}

