@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Grenze+Gotisch:wght@200;400&display=swap');

@font-face {
    font-family: Old London;
    src: url("../assets/old_london/Olondon_.otf"),
    url("../assets/old_london/OldLondon.ttf");
}

:root {
    --white-border: hsl(0, 0%, 75%);
    --white-box: hsl(0, 0%, 91%);
    --white-bg: hsl(0, 0%, 95%);
    --dark-bg: hsl(354, 94%, 10%);
    --dark-border-reflex: hsl(354, 92%, 13%);
    --dark-border: hsl(354, 94%, 7%);
    --papiro: #ffdaa7;
    --papiro-transparent: #ffdaa779;

    --font-1: 'Fredericka the Great', cursive;
    --font-2: 'Grenze Gotisch', cursive;
    --font-3: "Old London", cursive;
}

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../assets/images/bg-papiro-otimizado.jpg");
    background-size: cover;
    background-repeat: repeat;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    top: 0;
    z-index: 1;

    width: 100%;
    background-image: linear-gradient(to bottom, var(--dark-bg), var(--dark-border));
    border-bottom: 1px solid var(--dark-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
} header #logo-dragon {
    height: 65px;
    padding: 10px 10px;
}

.menubar ul{
    list-style: none;
    display: flex;
    color: goldenrod;
    font-family: var(--font-2);
    font-size: 1.2em;
} .menubar li {
    padding: 10px;
} .menubar a:hover {
    cursor: pointer;
    color: gold;
}

.menubar ul::before {
    content: "";
    background-image: linear-gradient(to right, var(--dark-border), var(--dark-border-reflex));
    width: 3px;
    height: 65px;
    position: absolute;
    top: 0;
}

.menubar > ul > li::after {
    content: "";
    background-image: linear-gradient(to right, var(--dark-border), var(--dark-border-reflex));
    width: 3px;
    height: 65px;
    position: absolute;
    top: 0;
    transform: translateX(9px);
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background-color: rgba(218, 170, 0, 0.233);
    box-shadow: 0 0 5px var(--dark-border);
    border-bottom: 1px solid var(--dark-border);
    color: var(--dark-border-reflex)
}

.main-banner div {
    padding: 10px;
}

.main-banner-livro {
    height: 100vh;
    width: 50vw;
}

.main-banner-logo {
    width: 45vw;
}

.main-banner-text {
    font-size: 2.7vw;
    font-family: var(--font-2);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
    padding: 30px;
}

.main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg);
    box-shadow: 0 0 7px var(--dark-border);
    padding: 2%;
    gap: 1%;
    width: 100%;
}

.main-cards img {
    border: 1px solid brown;
    border-bottom: 0px;
    width: 48vw;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    text-align: center;
    color: var(--papiro);
    text-shadow: 0 0 1px black;
    font-family: var(--font-2);

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid brown;
    border-top: 0px;
}

.card-content h2 {
    color: goldenrod;
    letter-spacing: 0.5em;
    font-size: 2.5em;
    font-family: var(--font-3);
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-67px);
    padding: 10px;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
}

.card-content p {
    transform: translateY(-37px);
    padding: 0 20px;
    font-size: 1.5vw;
}

.card-content a {
    padding: 5px 100px 1px 100px;
    background-color: var(--dark-bg);
    border: 1px solid brown;
    border-bottom: 0px;
    font-size: 1.5vw;
    letter-spacing: 0.2em;
}

.menu-page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.menu-page > img{
    margin: auto;
    width: 60%;
    max-width: 400px;
}

.menu-page > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-page > ul, .menu-page > span {
    width: 47%;
    max-width: 300px;
    padding: 10px;
    margin: auto;

    font-family: var(--font-1);
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    background-color: #F5E096;
}

.menu-page > span {
    letter-spacing: 0.5em;
    border-bottom: 1px solid #695b2d3d;
    color: #30280e;
    padding: 5px;
    text-align: center;
}

.menu-page li {
    list-style: none;
    border-bottom: 1px solid #695b2d3d;
    width: 105%;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.menu-page li:hover {
    color: rgb(161, 0, 0);
    text-shadow: 0 0 2px rgb(161, 0, 0);
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
}

.main-section {
    width: 60%;
    margin: auto;
    background-color: #F5E096;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.466);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.main-box {
    font-family: var(--font-2);
    font-size: 1.4em;
    margin-top: 40px;
}

.main-box strong {
    font-size: 1.12em;
    text-shadow: none;
}

.main-box p, .main-box h2 {
    padding-left: 20px;
    padding-right: 20px;
}

.menu-drop {
    display: none;
    border-top: 1px solid var(--dark-border-reflex);
    box-shadow: 0 0 7px var(--dark-border);
    background-image: linear-gradient(to top, var(--dark-bg), var(--dark-border));
    padding: 20px;
}

#livro-drop {
    display: flex;
    list-style: none;
    gap: 20px;
}

.dropdown::after {
    content: url("../assets/images/down.png");
    margin-left: 7px;
}

.pergaminho {
    width: 76%;
    margin: auto;
}

.row-spacer {
    display:flex;
    gap: 15px;
}

.flip {
    cursor: pointer;
}

abbr {
    text-decoration: none;
}

.hide {
    display: none;
}

.link-internal {
    color: goldenrod;
    text-decoration: none;
} .link-internal:hover {
    color: gold;
}

footer {
    width: 100%;
    box-shadow: 0 0 7px var(--dark-border);
    color: goldenrod;
    margin-top: 30px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-border);
    border-top: 2px solid var(--dark-border-reflex);
    padding: 20px;
    font-family: var(--font-1);
}

footer a {
    color: brown;
    text-decoration: none;
    text-shadow: 0 0 1px black;
} footer a:hover {
    color: var(--papiro);
}