@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Grenze+Gotisch:wght@200;400&display=swap');

:root {
    --white-border: hsl(0, 0%, 75%);
    --white-box: hsl(0, 0%, 91%);
    --white-bg: hsl(0, 0%, 95%);
    --papiro: #ffdaa7;

    --font-1: 'Fredericka the Great', cursive;
    --font-2: 'Grenze Gotisch', cursive;
}

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/bg-papiro-otimizado.jpg");
    background-size: cover;
    background-repeat: repeat;
} @media (min-width: 1000px) {
    body {
        background-attachment: fixed;
        background-image: url("../images/bg-papiro.jpg");
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 400px;
    margin: auto;

    background-color: brown;
    min-height: 500px;
    min-width: 260px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);  
    box-shadow: 0 0 7px black;
    border: 1px solid black;
} 

header img {
    height: 250px;
    border-radius: 300px;
    border: 1px solid black;
    box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.3);
    background-color: white;
}

header h1, header h2 {
    font-size: 3em;
    text-align: center;
    font-family: var(--font-1);
    color: White;
    font-weight: 200;
    text-shadow: 0 0 3px white;
    letter-spacing: 0.15em;
} header h2 {
    text-shadow: 0 0 2px white;
    padding-bottom: 15px;
    font-size: 1.5em;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

nav > img{
    margin: auto;
    width: 60%;
    max-width: 400px;
}

nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav > ul, nav > span {
    width: 47%;
    max-width: 300px;
    padding: 10px;
    margin: auto;

    font-family: var(--font-1);
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    background-color: #F5E096;
}

nav > span {
    letter-spacing: 0.5em;
    border-bottom: 1px solid #695b2d3d;
    color: #30280e;
    padding: 5px;
    text-align: center;
}

nav li {
    list-style: none;
    border-bottom: 1px solid #695b2d3d;
    width: 105%;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

nav li:hover {
    color: rgb(161, 0, 0);
    text-shadow: 0 0 2px rgb(161, 0, 0);
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
}

.main-section {
    width: 60%;
    margin: auto;
    background-color: #F5E096;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.466);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.main-box {
    font-family: var(--font-2);
    font-size: 1.4em;
    margin-top: 40px;
}

.main-box strong {
    font-size: 1.12em;
    text-shadow: none;
}

.main-box p, .main-box h2 {
    padding-left: 20px;
    padding-right: 20px;
}

#informacoes {
    flex-direction: column;
}

#atributos {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
} #atributos strong{
    padding: 10px;
}

.pergaminho {
    width: 76%;
    margin: auto;
}

#row-spacer {
    display:flex;
    gap: 15px;
}

.biography p, .spells p, .biography h2{
    text-indent: 5%;
} .biography p {
    margin-bottom: 10px;
    text-align: justify;
}

.talents > .main-box p {
    margin-top: 3%;
    text-align: justify;
}

.flip {
    cursor: pointer;
}

abbr {
    text-decoration: none;
}

.link-internal {
    color: brown;
    text-decoration: none;
} .link-internal:hover {
    color: rgb(161, 0, 0);
    text-shadow: 0 0 2px rgb(161, 0, 0);
}

.inventory ul, .spells ul {
    list-style: none;
    text-indent: 5%;
}

@media (max-width: 800px) {
    .main-section {
        width: 80%;
    }

    .main-box p {
        padding-left: 0;
        padding-right: 0px;
    }

    .main-box {
        font-size: 1em;
    }

    .main-box strong {
        font-size: 1.12em;
    }

    .talents > .main-box p {
        margin-top: 5%;
    }

    .pergaminho {
        width: 100%;
        margin: auto;
    }

    #row-spacer {
        display: inline-block;
    }
}

@media (max-width: 700px) {
    nav ul {
        font-size: 5vw;
        gap: 5%;
    }
}

