@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Grenze+Gotisch:wght@200;400&display=swap');

@font-face {
    font-family: Old London;
    src: url("../assets/old_london/Olondon_.otf"),
    url("../assets/old_london/OldLondon.ttf");
}

:root {
    --white-border: hsl(0, 0%, 75%);
    --white-box: hsl(0, 0%, 91%);
    --white-bg: hsl(0, 0%, 95%);
    --dark-bg: hsl(354, 94%, 10%);
    --dark-border-reflex: hsl(354, 92%, 13%);
    --dark-border: hsl(354, 94%, 7%);
    --papiro: #ffdaa7;
    --papiro-transparent: #ffdaa779;

    --font-1: 'Fredericka the Great', cursive;
    --font-2: 'Grenze Gotisch', cursive;
    --font-3: "Old London", cursive;
}

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    min-height: 100%;
}

body {
    background-image: url("../assets/images/bg-papiro-otimizado.jpg");
    background-size: cover;
    background-repeat: repeat;
}


/* --------- <-!-> Configurações Gerais de Cabeçalho <-!-> ---------*/


header {
    display: flex;
    align-items: center;
    justify-content: left;
    top: 0;
    z-index: 1;

    width: 100%;
    background-image: linear-gradient(to bottom, var(--dark-bg), var(--dark-border));
    border-bottom: 1px solid var(--dark-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
} header #header-nav-logo {
    height: 65px;
    padding: 5px 10px 5px 10px;
    margin-bottom: -5px;
}

.menubar ul{
    list-style: none;
    display: flex;
    color: goldenrod;
    font-family: var(--font-2);
    font-size: 1.2em;
} .menubar li {
    padding: 10px;
} .menubar a:hover {
    cursor: pointer;
    color: gold;
}

.menubar ul::before {
    content: "";
    background-image: linear-gradient(to right, var(--dark-border), var(--dark-border-reflex));
    width: 3px;
    height: 65px;
    position: absolute;
    top: 0;
}

.menubar > ul > li::after {
    content: "";
    background-image: linear-gradient(to right, var(--dark-border), var(--dark-border-reflex));
    width: 3px;
    height: 65px;
    position: absolute;
    top: 0;
    transform: translateX(9px);
}

.dropdown::after {
    content: url("../assets/images/down.png");
    margin-left: 7px;
}

.dropdown-books-menu {
    display: none;
    border-top: 1px solid var(--dark-border-reflex);
    box-shadow: 0 0 7px var(--dark-border);
    background-image: linear-gradient(to top, var(--dark-bg), var(--dark-border));
    padding: 20px;
}

.dropdown-books-list {
    display: flex;
    list-style: none;
    gap: 20px;
}


/* --------- <-!-> Configurações Gerais de Corpo <-!-> ---------*/


.container-head {
    padding: 15px 3%;
    margin-top: 10vh;

    border-top: 1px solid var(--dark-border-reflex);
    border-bottom: 1px solid var(--dark-border-reflex);

    background-image: linear-gradient(to bottom, var(--dark-bg), var(--dark-border));
    color: goldenrod;

    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2em;
    font-size: 1.5em;
    font-family: var(--font-3);

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgba(20, 0, 0, 0.8);
    color: goldenrod;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid var(--dark-border-reflex);
    box-shadow: 0 0 7px var(--dark-border);
}

.main-section {
    width: 60%;
    margin: auto;
    background-color: #F5E096;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.466);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.section-content {
    font-family: var(--font-2);
    font-size: 1.2em;
    margin-top: 40px;
}

.section-content strong {
    font-size: 1.12em;
    text-shadow: none;
}

.section-content p, .section-content h2 {
    padding-left: 20px;
    padding-right: 20px;
}


/* --------- <-!-> Página Inicial <-!-> ---------*/


.main-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background-color: rgba(218, 170, 0, 0.233);
    box-shadow: 0 0 5px var(--dark-border);
    border-bottom: 1px solid var(--dark-border);
    color: var(--dark-border-reflex)
}

.main-banner div {
    padding: 10px;
}

.banner-image {
    height: 100vh;
    width: 50vw;
}

.banner-logo {
    width: 45vw;
}

.banner-text {
    font-size: 2.7vw;
    font-family: var(--font-2);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
    padding: 30px;
}

.main-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg);
    box-shadow: 0 0 7px var(--dark-border);
    padding: 2%;
    gap: 1%;
    width: 100%;
}

.main-categories img {
    border: 1px solid brown;
    border-bottom: 0px;
    width: 48vw;
}

.categories-card {
    display: flex;
    flex-direction: column;
}

.categories-card-content {
    text-align: center;
    color: var(--papiro);
    text-shadow: 0 0 1px black;
    font-family: var(--font-2);

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid brown;
    border-top: 0px;
}

.categories-card-content h2 {
    color: goldenrod;
    letter-spacing: 0.5em;
    font-size: 2.5em;
    font-family: var(--font-3);
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-67px);
    padding: 10px;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
}

.categories-card-content p {
    transform: translateY(-37px);
    padding: 0 20px;
    font-size: 1.5vw;
}

.categories-card-content a {
    padding: 5px 100px 1px 100px;
    background-color: var(--dark-bg);
    border: 1px solid brown;
    border-bottom: 0px;
    font-size: 1.5vw;
    letter-spacing: 0.2em;
}

/* --------- <-x-> Página Inicial <-x-> ---------*/

.pergaminho {
    display: flex;
    justify-content: center;
    width: 76%;
    margin: auto;
}

.flip {
    cursor: pointer;
}

abbr {
    text-decoration: none;
}

.hide {
    display: none;
}

.link-internal {
    color: goldenrod;
    text-decoration: none;
} .link-internal:hover {
    color: gold;
    transition: 1s;
}

footer {
    width: 100%;
    box-shadow: 0 0 7px var(--dark-border);
    color: goldenrod;
    margin-top: 30px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-border);
    border-top: 2px solid var(--dark-border-reflex);
    padding: 20px;
    font-family: var(--font-1);
}

footer a {
    color: brown;
    text-decoration: none;
    text-shadow: 0 0 1px black;
} footer a:hover {
    color: var(--papiro);
}